<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>生息地設定 - {{ application_title }}</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

    <link href="https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css" rel="stylesheet" />

    <style>
      body {
        margin: 0;
        padding: 0;
      }
      header {
        background-color: mediumaquamarine;
        display: flex;
      }
      h1 {
        margin: 10px;
        font-size: 1.7em;
      }
      h1 > a {
        color: darkslategray;
      }
      .mapboxgl-ctrl-top-right {
        position: static;
        margin-left: auto;
      }
      .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
        clear: none;
        float: left;
      }
      .mapboxgl-ctrl-icon.mapboxgl-ctrl-label {
        width: auto;
        height: auto;
        padding: 0.3em 0.5em;
      }
      .mapboxgl-ctrl-top-left {
        position: static;
        display: inline-block;
      }
      .mapboxgl-ctrl-top-left .mapboxgl-ctrl {
        background-color: #0088e2;
        margin: 0;
        float: none;
      }
      .mapboxgl-ctrl-top-left .mapboxgl-ctrl > button {
        color: white;
      }
      .mapboxgl-ctrl-top-left .mapboxgl-ctrl > button:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
      main {
        margin: 8px;
      }
      ul.flash {
        list-style: none;
        padding: 0;
      }
      .alert {
        border: 1px solid transparent;
        border-radius: .25rem;
        margin-bottom: 1rem;
        padding: .75rem 1.25rem;
        position: relative;
      }
      .alert-success {
        background-color: #d4edda;
        border-color: #c3e6cb;
        color: #155724;
      }
    </style>
  </head>

  <body>
    <header>
      <h1><a href="{{ url_for('map.top') }}">{{ application_title }}</a></h1>
      <div class="mapboxgl-ctrl-top-right">
        <div class="mapboxgl-ctrl mapboxgl-ctrl-group">
          <button class="mapboxgl-ctrl-icon mapboxgl-ctrl-label" type="button" aria-label="Logout" onclick="location.href='{{ url_for('auth.logout') }}'">ログアウト</button>
        </div>
      </div>
    </header>

    <main>
      <h2>生息地設定</h2>
      <form action = "{{ url_for('settings.habitat') }}" method = "post">
{%- with success_messages = get_flashed_messages(category_filter=['success']) %}
  {%- if success_messages %}
        <ul class="flash">
    {%- for success_message in success_messages %}
          <li class="alert alert-success">{{ success_message }}</li>
    {%- endfor %}
        </ul>
  {%- endif %}
{%- endwith %}
        <p>
          <label for="prefecture">都道府県: </label>
          <select id="prefecture" name="prefectureid">
            <option value="">選択しない</option>
{%- for prefecture in prefectures %}
            <option value="{{ prefecture.id }}"{% if prefecture.id == prefecture_id %} selected{% endif %}>{{ prefecture.name | safe }}</option>
{%- endfor %}
          </select>
        </p>
        <p>
          <label for="city">郡・市区町村: </label>
          <select id="city" name="cityid">
            <option value="">選択しない</option>
{%- for city in cities %}
            <option parentvalue="{{ city.prefecture_id }}" value="{{ city.id }}"{% if city.id == city_id %} selected{% endif %}>{{ city.name | safe }}</option>
{%- endfor %}
          </select>
        </p>
        <p>
          <label for="ward">政令指定都市 区: </label>
          <select id="ward" name="wardid">
            <option value="">選択しない</option>
{%- for ward in wards %}
            <option parentvalue="{{ ward.city_id }}" value="{{ ward.id }}"{% if ward.id == ward_id %} selected{% endif %}>{{ ward.name | safe }}</option>
{%- endfor %}
          </select>
        </p>
        <input type="submit" value="変更を保存" />
      </form>
    </main>

    <script>
      function initAreaOptions(select, childSelect) {
        let initialOptions = [];
        for (let index = 1; index < childSelect.options.length; index++) {
          initialOptions.push(childSelect.options[index]);
        }

        select.onchange = function() {
          let parentValue = select.options[select.options.selectedIndex].value;

          let selectedValue = childSelect.options[childSelect.options.selectedIndex].value;
          childSelect.options.selectedIndex = 0;

          for (let index = childSelect.options.length - 1; index > 0; index--) {
            childSelect.options.remove(index);
          }
          for (let option of initialOptions) {
            if (option.getAttribute('parentvalue') == parentValue) {
              childSelect.options.add(option);
            }
          }

          for (let option of childSelect.options) {
            if (option.value == selectedValue) {
              option.selected = true;
              break;
            }
          }

          if (childSelect.onchange != null) {
            childSelect.onchange();
          }
        }
      }

      let prefectureSelect = document.getElementById('prefecture');
      let citySelect = document.getElementById('city');
      let wardSelect = document.getElementById('ward');

      initAreaOptions(prefectureSelect, citySelect);
      initAreaOptions(citySelect, wardSelect);
      prefectureSelect.onchange();
    </script>
  </body>
</html>
