<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ログイン - {{ application_title }}</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

    <link href="https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css" rel="stylesheet" />

    <style>
      body {
        margin: 0;
        padding: 0;
      }
      header {
        background-color: mediumaquamarine;
        display: flex;
      }
      h1 {
        margin: 10px;
        font-size: 1.7em;
      }
      h1 > a {
        color: darkslategray;
      }
      .mapboxgl-ctrl-top-right {
        position: static;
        margin-left: auto;
      }
      .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
        clear: none;
        float: left;
      }
      .mapboxgl-ctrl-icon.mapboxgl-ctrl-label {
        width: auto;
        height: auto;
        padding: 0.3em 0.5em;
      }
      .mapboxgl-ctrl-top-left {
        position: static;
        display: inline-block;
      }
      .mapboxgl-ctrl-top-left .mapboxgl-ctrl {
        background-color: #0088e2;
        margin: 0;
        float: none;
      }
      .mapboxgl-ctrl-top-left .mapboxgl-ctrl > button {
        color: white;
      }
      .mapboxgl-ctrl-top-left .mapboxgl-ctrl > button:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
      main {
        margin: 8px;
      }
    </style>
  </head>

  <body>
    <header>
      <h1><a href="{{ url_for('map.top') }}">{{ application_title }}</a></h1>
    </header>

    <main>
      <h2>ログイン</h2>
      <p>{{ application_title }}には<a href="{{ instance_url }}">{{ instance_name }}</a>の Mastodon アカウントでログインすることができます。</p>
      <div class="mapboxgl-ctrl-top-left">
        <div class="mapboxgl-ctrl mapboxgl-ctrl-group">
          <button class="mapboxgl-ctrl-icon mapboxgl-ctrl-label" type="button" aria-label="Login" onclick="location.href='{{ url_for('auth.login', oauth='true') }}'">{{ instance_name }}でログイン</button>
        </div>
      </div>
    </main>
  </body>
</html>
