<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ application_title }}</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css" rel="stylesheet" />

    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
      .mapboxgl-ctrl-top-right .mapboxgl-ctrl {
        clear: none;
        float: left;
      }
      .mapboxgl-ctrl-icon.mapboxgl-ctrl-label {
        width: auto;
        height: auto;
        padding: 0.3em 0.5em;
      }
      .spot {
        width: 12px !important;
        height: 12px !important;
        border-radius: 12px;
        border: 2px solid white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
        background-color: #2b82cb;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <div id="map"></div>

    <script>
      function random(seed, max) {
        let rnd = (seed * 9301 + 49297) % 233280 / 233280;
        return Math.floor(rnd * max);
      }

      function toColor(area_id, is_boundary) {
        let h = (random(area_id, 360)).toString();
        let s = (random(area_id + 1, 31) + 70).toString();
        let l = (is_boundary ? 50 : 80).toString();
        return 'hsla(' + h + ', ' + s + '%, ' + l + '%, 0.7)';
      }

      mapboxgl.accessToken = '{{ mapbox_access_token }}';

      const mt_fuji_latitude = 35.3622222;
      const mt_fuji_longitude = 138.7313889;

      let map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/{{ mapbox_user_name }}/{{ mapbox_style_id }}',
        center: [mt_fuji_longitude, mt_fuji_latitude],
        zoom: 8,
        hash: true,
      });

      map.addControl(new mapboxgl.NavigationControl(), 'top-left');

      map.addControl(new mapboxgl.GeolocateControl({
        positionOptions: {
          enableHighAccuracy: true,
        },
        trackUserLocation: true,
      }), 'top-left');

      class ButtonControl {
        constructor(aria_label, label, href) {
          this._aria_label = aria_label;
          this._label = label;
          this._href = href;
        }

        onAdd(map) {
          this._map = map;
          this._container = document.createElement('div');
          this._container.className = 'mapboxgl-ctrl mapboxgl-ctrl-group';
          this._container.innerHTML = '<button class="mapboxgl-ctrl-icon mapboxgl-ctrl-label" type="button" aria-label="' + this._aria_label + '" onclick="location.href=\'' + this._href + '\'">' + this._label + '</button>';
          return this._container;
        }

        onRemove() {
          this._container.parentNode.removeChild(this._container);
          this._map = undefined;
        }
      }
{%- if current_user.is_authenticated %}

      map.addControl(new ButtonControl('Settings', '設定', "{{ url_for('settings.top') }}"), 'top-right');

      map.addControl(new ButtonControl('Logout', 'ログアウト', "{{ url_for('auth.logout') }}"), 'top-right');
{%- else %}

      map.addControl(new ButtonControl('Login', 'ログイン', "{{ url_for('auth.login') }}"), 'top-right');
{%- endif %}

      map.addControl(new mapboxgl.ScaleControl());

      map.on('load', function () {
{%- if user_areas | length > 0 %}
        let area_filter = [
          "all",
          [
            "match",
            ["get", "id"],
            [
  {%- for user_area in user_areas %}
              {{ user_area.id | safe }},
  {%- endfor %}
            ],
            true,
            false,
          ],
        ];
        map.setFilter('area-polygon', area_filter);
        map.setFilter('area-boundary', area_filter);

        map.setPaintProperty('area-polygon', 'fill-color', [
          "match",
          ["get", "id"],
  {%- for user_area in user_areas %}
          [{{ user_area.id | safe }}],
          toColor({{ user_area.id | safe }}, false),
  {%- endfor %}
          "hsla(0, 100%, 0%, 0)",
        ]);
        map.setPaintProperty('area-boundary', 'line-color', [
          "match",
          ["get", "id"],
  {%- for user_area in user_areas %}
          [{{ user_area.id | safe }}],
          toColor({{ user_area.id | safe }}, true),
  {%- endfor %}
          "hsla(0, 100%, 0%, 0)",
        ]);

        map.on('click', 'area-polygon', function (e) {
          let feature = e.features[0];
          if (!('properties' in feature) || !('id' in feature.properties)) {
            return;
          }

          for (let index = 1; index < e.features.length; index++) {
            const currentFeature = e.features[index];
            if (feature.properties.id < currentFeature.properties.id) {
              feature = currentFeature;
            }
          }

          let area_users_map = {
  {%- for user_area in user_areas %}
            {{ user_area.id | safe }}: {
              name: '
    {%- if user_area.prefecture != None -%}
              {{ user_area.prefecture.name | safe }}
    {%- endif -%}
    {%- if user_area.city != None -%}
              {{ user_area.city.name | safe }}
    {%- endif -%}
              {{ user_area.name | safe }}',
              child_ids: [
    {%- for city in user_area.cities %}
      {%- if city.users | length > 0 %}
                {{ city.id | safe }},
      {%- endif %}
    {%- endfor %}
    {%- for ward in user_area.wards %}
      {%- if ward.users | length > 0 %}
                {{ ward.id | safe }},
      {%- endif %}
    {%- endfor %}
              ],
              users: [
    {%- for user in user_area.users %}
                { name: '
      {%- if user.display_name != None -%}
              {{ user.display_name | safe }}
      {%- else -%}
              {{ user.name | safe }}
      {%- endif -%}
                ', url: '{{ instance_url }}@{{ user.name }}' },
    {%- endfor %}
              ],
            },
  {%- endfor %}
          };

          if (!(feature.properties.id in area_users_map)) {
            return;
          }

          let area_users_pairs = [
            area_users_map[feature.properties.id],
          ];
          for (let child_id of area_users_pairs[0].child_ids) {
            area_users_pairs.push(area_users_map[child_id])
          }

          let area_user_html = '';
          for (let area_users_pair of area_users_pairs) {
            area_user_html += `<h3>${area_users_pair.name}</h3>`;
            for (let user of area_users_pair.users) {
              area_user_html += `<p><a href="${user.url}" target="_blank">${user.name}</a></p>`;
            }
          }

          new mapboxgl.Popup()
            .setLngLat(e.lngLat)
            .setHTML(area_user_html)
            .addTo(map);
        });
 
        map.on('mouseenter', 'area-polygon', function () {
          map.getCanvas().style.cursor = 'pointer';
        });

        map.on('mouseleave', 'area-polygon', function () {
          map.getCanvas().style.cursor = '';
        });

{% endif -%}
        let spot;
        let spot_geojson;
        let spot_html;
{%- for spot in spots %}

        spot = document.createElement('div');
        spot.className = 'spot';
        spot_geojson = {{ spot.geometry | safe }};
        spot_html = '<h3>{{ spot.name | safe }}</h3>{% if spot.description != None %}<p>{{ spot.description | safe }}</p>{% endif %}';
        new mapboxgl.Marker(spot)
          .setLngLat(spot_geojson['coordinates'])
          .setPopup(new mapboxgl.Popup({ offset: 8 })
            .setHTML(spot_html))
          .addTo(map);
{%- endfor %}
      });
    </script>
  </body>
</html>
